---
import Pagination from '@/components/ui/Pagination.astro'
import Layout from '@/layouts/Layout.astro'
import { trimExcerpt } from '@/lib/utils'
import { template } from '@/settings'

export async function getStaticPaths({ paginate }) {
	const blogEntries = await Astro.glob('../../assets/blog/*.md')
	const posts = blogEntries
		.map(post => ({
			title: post.frontmatter.title,
			date: post.frontmatter.date,
			badge: post.frontmatter.tags[0],
			excerpt: trimExcerpt(post.frontmatter.excerpt),
			slug: post.file.split('/')?.pop()?.split('.')[0] ?? '',
		}))
		.sort((a, b) => new Date(b.date).getTime() - new Date(a.date).getTime())

	return paginate(posts, { pageSize: template.postPerPage })
}

const { page } = Astro.props
---

<Layout title='Blog'>
	<div>
		<h1 class='text-3xl font-bold mb-8'>Blog Posts</h1>

		<div class='flex justify-between items-center mb-8'>
			<div class='flex gap-4'>
				<select class='select select-bordered w-full max-w-xs'>
					<option selected>All Categories</option>
					<option>Physics</option>
					<option>Research</option>
					<option>Opinion</option>
				</select>
			</div>
		</div>

		<div class='grid gap-8'>
			{
				page.data.map(post => (
					<article class='card bg-base-200 transition-all'>
						<div class='card-body'>
							<div class='flex justify-between items-start'>
								<h2 class='card-title text-xl'>
									<a href={`/blog/${post.slug}`} class='hover:text-accent'>
										{post.title}
									</a>
								</h2>
								<div class='badge badge-accent badge-outline p-4'>
									{post.badge}
								</div>
							</div>
							<time datetime={post.date} class='text-sm text-base-content/70'>
								{new Date(post.date).toLocaleDateString('en-US', {
									year: 'numeric',
									month: 'long',
									day: 'numeric',
								})}
							</time>
							<p class='mt-4'>{post.excerpt}</p>
							<div class='card-actions justify-end'>
								<a
									href={`/blog/${post.slug}`}
									class='btn btn-sm btn-secondary text-secondary-content'
								>
									Read More
								</a>
							</div>
						</div>
					</article>
				))
			}
		</div>

		<div class='flex justify-center mt-8'>
			<Pagination page={page} />
		</div>
	</div>
</Layout>
