---
import Envelope from '@/assets/social-icons/envelope.svg'
import GitHub from '@/assets/social-icons/github.svg'
import GitLab from '@/assets/social-icons/gitlab.svg'
import LinkedIn from '@/assets/social-icons/linkedin-in.svg'
import Scholar from '@/assets/social-icons/google-scholar.svg'
import X from '@/assets/social-icons/x-twitter.svg'
import Inspire from '@/assets/social-icons/inspire.svg'
import Arxiv from '@/assets/social-icons/arxiv.svg'

import { social } from '@/settings'

const activeSocial = Object.keys(social).filter((key) => social[key as keyof typeof social] !== '')
const calculatedIconSize = activeSocial.length <= 5 ? 'size-6' : activeSocial.length <= 6 ? 'size-5' : 'size-4'
const calculatedContainerSize = activeSocial.length <= 5 ? 'size-12' : activeSocial.length <= 6 ? 'size-10' : 'size-8'

---

<div class='flex flex-wrap justify-between items-center'>

	<!-- Email -->
	{social.email !== '' &&
		<a href={`mailto:${social.email}`}  class={`${calculatedContainerSize} inline-flex items-center justify-center rounded-xl hover:bg-primary/20 transition-all duration-300`}>
			<Envelope class={calculatedIconSize} fill="currentColor" />
		</a>
	}

	<!-- GitHub -->
	{social.github !== '' &&
		<a href={social.github} target="_blank" class={`${calculatedContainerSize} inline-flex items-center justify-center rounded-xl hover:bg-primary/20 transition-all duration-300`}>
			<GitHub class={calculatedIconSize} fill="currentColor" />
		</a>
	}

	<!-- GitLab -->
	{social.gitlab !== '' &&
		<a href={social.gitlab} target="_blank" class={`${calculatedContainerSize} inline-flex items-center justify-center rounded-xl hover:bg-primary/20 transition-all duration-300`}>
			<GitLab class={calculatedIconSize} fill="currentColor" />
	</a>
	}

	<!-- X -->
	{social.x !== '' &&
		<a href={social.x} target="_blank" class={`${calculatedContainerSize} inline-flex items-center justify-center rounded-xl hover:bg-primary/20 transition-all duration-300`}>
			<X class={calculatedIconSize} fill="currentColor" />
		</a>
	}

	<!-- Linkedin -->
	{social.linkedin !== '' &&
		<a href={social.linkedin} target="_blank" class={`${calculatedContainerSize} inline-flex items-center justify-center rounded-xl hover:bg-primary/20 transition-all duration-300`}>
			<LinkedIn class={calculatedIconSize} fill="currentColor" />
		</a>
	}

	<!-- Google Scholar -->
	{social.scholar !== '' &&
		<a href={social.scholar} target="_blank" class={`${calculatedContainerSize} inline-flex items-center justify-center rounded-xl hover:bg-primary/20 transition-all duration-300`}>
			<Scholar class={calculatedIconSize} fill="currentColor" />
		</a>
	}

<!-- Inspire -->
	{social.inspire !== '' &&
		<a href={social.inspire} target="_blank" class={`${calculatedContainerSize} inline-flex items-center justify-center rounded-xl hover:bg-primary/20 transition-all duration-300`}>
			<Inspire class={calculatedIconSize} fill="currentColor" />
		</a>
	}

<!-- arxiv -->
	{social.arxiv !== '' &&
		<a href={social.arxiv} target="_blank" class={`${calculatedContainerSize} inline-flex items-center justify-center rounded-xl hover:bg-primary/20 transition-all duration-300`}>
			<Arxiv class={calculatedIconSize} fill="currentColor" />
		</a>
	}
</div>
